extends layout
block content
    .row
        .col.s12.m6
            .card.blue-grey.darken-1
                .card-content.white-text
                    span.card-title Welcome to food log!
                    p
                    | Manage your food orders easily, know what you paid, and with whom you ordered your food! 
                    | avoid orders chaos! save your money!
                .card-action
                    form(action = '/oauth/google', method='get')
                        button.loginBtn.loginBtn--google(type='submit') Sign in with a Google Account

